/* Estilos personalizados */
.form-container{
    max-width: 400px;
    margin: 10px auto;
}

.text-green {
    color: green;
    font-weight: bold;
}
.total-summary {
    text-align: right;
}

.line-divider {
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}